<div class="about-section">
  <h1>About Author</h1>
  <p>Some text about me</p>
</div>
<h2 style="text-align:center">Our Team</h2>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/images/63605171.jpeg" alt="Indir Karic" style="width:100%">
      <div class="container">
        <h2>Indir Karic</h2>
        <p class="title">CEO</p>
        <p>CEO</p>
        <p>indir97_karic@outlook.com</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/images/63605171.jpeg" alt="Indir Karic" style="width:100%">
      <div class="container">
        <h2>Indir Karic</h2>
        <p class="title">Art Director</p>
        <p>COO</p>
        <p>indir97_karic@outlook.com</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/images/63605171.jpeg" alt="Indir Karic" style="width:100%">
      <div class="container">
        <h2>Indir Karic</h2>
        <p class="title">Art Director</p>
        <p>Software Developer</p>
        <p>indir97_karic@outlook.com</p>
      </div>
    </div>
  </div>
</div>


